/**
 * Common
 * ----------------------------------------------------------------------------
 */


table {
	font-size: 1em;
}

#wrapper  {
	padding-top: 120px;
	margin: 0px auto;
	width: 95%;
}

body,
.btn {
	color: #555;
}

.unselectable{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/**
 * Top button group
 * ----------------------------------------------------------------------------
 */
.btn-group-action {

	.action-item {
		color: #656565;
		background-color: #fff;
	}
}

#filter-box {
	min-width: 300px;
	margin-right: 15px;
	border-radius: 8px;
}

.breadcrumb {
	padding: 7px 13px;
	margin: 0 14px 10px 0;
	background-color: #EFEFEF;
	border-radius: 8px;
}

/**
 * Mail
 * ----------------------------------------------------------------------------
 */


.mail {
	.panel {
		background-color: transparent;
	}
	.date {
		float: right;
	}

	li {
		border-bottom: 1px solid #ccc;
		margin: 3px 0;
	}

	.well {
		.panel-heading {
			color: #8A6D3B;
		}
		background-color: #fcfcfc;
		border-color: #EEE;
	}

	.body {
		margin-bottom: 9px;
		.show {
			display: block;
		}

		.hide {
			display: none;
		}

		.panel-heading {
			padding: 5px 0;
			text-align: center;
			font-weight: bold;
			color: grey;
			font-size: 15px;
		}

		tr, td, th {
			padding: 5px;
			border-color: #EFEFEF;
		}
	}

	.panel-body {
		padding: 0;
		overflow: auto;
	}

	.action-btn {
		color: #ddd;
		cursor: pointer;
		&:hover {
			color: #9dd6c5;
		}
	}

	.collapse-btn {
		color: #333;
		cursor: pointer;
		padding: 4px 8px;
		background-color: #DFE8EB;
		border-radius: 5px;
		&:hover {
			text-decoration: none;
			background-color: #9dd6c5;
		}
	}

	.delete-marker {
		position: relative;
		top: 1px;
	}

	.subject-detail {
		margin-left: 3px;
	}

	.title {
		cursor: default;
		font-weight: normal;
		&:hover {
			color: #E99;
		}
	}

	.mail-text {
		margin: 0;
	}
}



/**
 * Pagination
 * ----------------------------------------------------------------------------
 */

.page {
	color: #656565;
	cursor: pointer;
	margin: 0 2px;
	&.actived {
		background-color: #EBEBEB;
	}
}



/**
 * Footer
 * ----------------------------------------------------------------------------
 */


.footer {
	text-align: center;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	& li {
		overflow: hidden;
		width: auto;
	}
}