/**
 * Common
 * ----------------------------------------------------------------------------
 */

table {
  font-size: 1em;
}
#wrapper {
  padding: 120px 0 0 5px;
  margin: 0px auto;
  width: 95%;
}
body,
.btn {
  color: #555555;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/**
 * Top button group
 * ----------------------------------------------------------------------------
 */

.btn-group-action .action-item {
  color: #656565;
  background-color: white;
}
#filter-box {
  min-width: 300px;
  margin-right: 15px;
  border-radius: 8px;
}
.breadcrumb {
  padding: 7px 13px;
  margin: 0 14px 10px 0;
  border-radius: 8px;
}
.navbar {
  padding-left: 10px;
}
/**
 * Mail Side bar
 * ----------------------------------------------------------------------------
 */

.mail-sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #f8f8f8;
  border-right: solid 1px #dddddd;
  padding: 0;
  box-shadow: 10px 0 10px 0 rgba(0, 0, 0, 0.1);
}
.settings {
  text-align: center;
  padding: 40px 0 0px 12px;
  height: 100%;
  color: #636564;
  background-color: #eff5f3;
  vertical-align: middle;
}
.sidebar-holder {
  height: 95px;
  width: 100%;
  border-bottom: solid 1px #e7e7e7;
}
.mail-sidectrl {
  position: absolute;
  right: 0;
  color: #888888;
  top: 291px;
  padding: 28px 1px;
  background-color: #dfe8eb;
  cursor: pointer;
}
.mail-sidectrl:hover {
  background-color: #9dd6c5;
}
.btn-sidectrl {
  display: none;
}
/**
 * Mail
 * ----------------------------------------------------------------------------
 */

.mail .panel {
  background-color: transparent;
}
.mail .date {
  float: right;
}
.mail li {
  border-bottom: 1px solid #cccccc;
  margin: 3px 0;
}
.mail .well {
  background-color: #fcfcfc;
  border-color: #eeeeee;
}
.mail .well .panel-heading {
  color: #8a6d3b;
}
.mail .body {
  margin-bottom: 9px;
}
.mail .body .show {
  display: block;
}
.mail .body .hide {
  display: none;
}
.mail .body .panel-heading {
  padding: 5px 0;
  text-align: center;
  font-weight: bold;
  color: grey;
  font-size: 15px;
}
.mail .body tr,
.mail .body td,
.mail .body th {
  padding: 5px;
  border-color: #efefef;
}
.mail .panel-body {
  padding: 0;
  overflow: auto;
}
.mail .action-btn {
  color: #dddddd;
  cursor: pointer;
}
.mail .action-btn:hover {
  color: #9dd6c5;
}
.mail .collapse-btn {
  color: #333333;
  cursor: pointer;
  padding: 4px 8px;
  background-color: #dfe8eb;
  border-radius: 5px;
}
.mail .collapse-btn:hover {
  text-decoration: none;
  background-color: #9dd6c5;
}
.mail .delete-marker {
  position: relative;
  top: 1px;
}
.mail .subject-detail {
  margin-left: 3px;
}
.mail .title {
  cursor: default;
  font-weight: normal;
}
.mail .title:hover {
  color: #ee9999;
}
.mail .mail-text {
  margin: 0;
}
/**
 * Pagination
 * ----------------------------------------------------------------------------
 */

.page {
  color: #656565;
  cursor: pointer;
  margin: 0 2px;
}
.page.actived {
  background-color: #ebebeb;
}
/**
 * Footer
 * ----------------------------------------------------------------------------
 */

.footer {
  text-align: center;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.footer li {
  overflow: hidden;
  width: auto;
}
