table {
	font-size: 1em;
}

body {
	color: #555;
}

.action-pane {
	margin-bottom: 25px;
}


.mail-body {
	margin-bottom: 9px;
	.show {
		display: block;
	}

	.hide {
		display: none;
	}
}

.pagination a {
	cursor: pointer;
}

.read-less {
	color: #333;
	padding: 2px 8px;
	background-color: #dfe8e5;
	&:hover {
		color: #333;
		text-decoration: none;
		padding: 2px 8px;
		background-color: #9dd6c5;
	}
}

.action-btn {
	color: #ddd;
	&:hover {
		color: #9dd6c5;
	}
}

.action-btn,
.read-less{
	cursor: pointer;
}

.main-content {
	min-height: 600px;
}

.date {
	float: right;
}

.exceptions {
	margin-top: 5px;
}

form {
	margin: 0 auto;
}

.mail-listing li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.mail-footer {
	text-align: center;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	& li {
		overflow: hidden;
		width: auto;
	}
}
