table {
	font-size: 1em;
}

.container {
	margin-top: 20px;
}

.mail-body-show {
/*	opacity: 1;
	-webkit-transition: .5s;
	height: ;
	visibility: visible;*/
	display: block;
}

.mail-body-hide {
/*	opacity: 0;
	height: 0;
	-webkit-transition: .5s;
	visibility: hidden;*/
	display: none;
}

.read-less {
	color: #333;
	padding: 2px 8px;
	background-color: #dfe8e5;
}

.read-less:hover {
	color: #333;
	text-decoration: none;
	padding: 2px 8px;
	background-color: #9dd6c5;
}

.read-less,
.read-more {
	cursor: pointer;
	white-space: nowrap;
}

.subject {
	/*max-width: 300px;*/
}

.title {

}
/*
.date,
.to {
	margin-left: 5px;
}*/
.date {
	float: right;
}

.exceptions {
	margin-top: 5px;
}

form {
	margin: 0 auto;
}

.mail-listing li {
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}