table {
	font-size: 1em;
}

body {
	color: #555;
}


/* mail */

.mail {
	&.listing {
		min-height: 600px;
	}
	.date {
		float: right;
	}

	li {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
	}

	.body {
		margin-bottom: 9px;
		.show {
			display: block;
		}

		.hide {
			display: none;
		}
	}

	.action-pane {
		margin-bottom: 25px;
	}

	.action-btn {
		color: #ddd;
		cursor: pointer;
		&:hover {
			color: #9dd6c5;
		}
	}

	.collapse-btn {
		color: #333;
		cursor: pointer;
		padding: 2px 8px;
		background-color: #dfe8e5;
		&:hover {
			text-decoration: none;
			background-color: #9dd6c5;
		}
	}
}

/* footer */

.footer {
	text-align: center;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	& li {
		overflow: hidden;
		width: auto;
	}
}

.pagination a {
	cursor: pointer;
}
