<div class="row">
	<form class="form-horizontal" role="form">
		<div class="from-group">
			<div class="btn-group btn-group-action">
				<button type="button" class="btn btn-default"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></button>
				<button type="button" class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-remove"></span></button>
				<button type="button" class="btn btn-default" ng-click="deleteAll()" onclick="confirm('Are you sure?')" title="delele all emails"><span class="glyphicon glyphicon-ban-circle"></span></button>
			</div>
			<div class="btn-group">
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
			</div>
			<div class="btn-group unselectable btn-group-pagination">
				<button class="btn" ng-click="toPage(1)">first</button>
				<button class="btn" ng-click="prePage()">«</button>
				<button class="btn" ng-repeat="page in pages" ng-click="toPage(page)">{{page}}</button>
				<button class="btn" ng-click="nextPage()">»</button>
				<button class="btn" ng-click="toPage(totalPage)">last</button>
				<button class="btn btn-group-addon"><span>{{ currentPage }} / {{ totalPage }}</span></button>
			</div>
		</div>
		<div class="form-group action-pane">
			<div class="col-sm-6">
				<input ng-model="query" class="form-control" id="search-box" placeholder="search keyword">
			</div>
			<div class="col-sm-6">
				<label for="sort-by" class="col-sm-8 control-label">Sort by</label>
				<div class="col-sm-4">
					<select ng-model="orderProp" class="form-control" id="sort-by">
						<option value="SUBJECT">Subject</option>
						<option value="FROM">Sender</option>
						<option value="TO">To</option>
						<option value="DATELASTMODIFIED">Newest</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row mail listing">
	<label class="check-all"><input type="checkbox" data-ng-click="toggle()"> Toggle</label>
	<ul class="list-unstyled">
		<li ng-repeat="mail in mails | filter:query | orderBy:orderProp " >
			<span ng-class="mail.show ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" class="glyphicon action-btn unselectable" ng-click="mail.show=!mail.show" ng-init="mail.show=false"></span>
			<span class="glyphicon glyphicon-remove-sign action-btn unselectable" ng-click="mail.deleteMark=true; delete()"></span>
			<input type="checkbox" data-ng-model="mail.deleteMark" ng-init="mail.deltedMark=false" class="action-btn" ><span class="title">{{mail.SUBJECT | formatName}}</span>
			<span class="subject-detail">
				<span class="label label-default date">{{mail.DATELASTMODIFIED | formatDate}}</span>
				<div ng-class="mail.show ? 'show' : 'hide'" class="alert alert-info exceptions">
					<div ng-bind-html="mail.BODY" class="body"></div>
					<a class="collapse-btn" ng-click="mail.show=false"><span class="glyphicon glyphicon-chevron-up"></span> collapse</a>
				</div>
			</span>
		</li>
	</ul>
<!-- 	<table class="table table-responsive phones">
		<thead>
			<tr class="table-header">
				<th class="subject">Subject</th>
			</tr>
		</thead>
		<tr ng-repeat="mail in mails | filter:query | orderBy:orderProp" class="mail-listing">
 	 			<td nowrap>
				<input type="checkbox" class="single-box" name="#name#">
				<img src="/CFIDE/administrator/images/delete_button.gif" onclick="deleteEmail('#urlEncodedFormat(name)#', this)" alt="delete" title="delete" class="btn">
			</td>
			<td class="subject">
				<a href="id-{{mail.ID}}">
					<span ng-class="count ? 'glyphicon-collapse-down' : 'glyphicon-expand'" class="glyphicon" ng-click="count=(count + 1) % 2" ng-init="count=0"></span>
				</a>
				<span class="title">{{mail.SUBJECT | formatName}}</span>
				<span class="subject-detail">
					<span class="label label-default to">To: {{mail.TO}}</span>
					<span class="label label-default date">{{mail.DATELASTMODIFIED | formatDate}}</span>
					<div ng-class="count ? 'show' : 'hide'" class="alert alert-info exceptions">
						<div ng-bind-html="mail.BODY"></div>
						<a class="read-less" ng-click="count=0"><span class="glyphicon glyphicon-chevron-up"></span> collapse</a>
					</div>
				</span>
			</td>
		</tr>

	</table> -->

 </div>
 <div class="row footer">

 </div>