<!-- navigation bar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand hidden-xs" href="#">MViewer</a>
		</div>
		<div class="navbar-collapse collapse in" style="height: auto;">
			<form class="navbar-form navbar-right">
				<input ng-model="query" class="form-control" id="filter-box" placeholder="Filter...">
			</form>
		</div>
		<div>
			<div class="btn-group btn-group-action">
				<button type="button" class="btn btn-default action-item"><span class="glyphicon glyphicon-refresh" title="refresh" ng-click="refresh()"></span></button>
				<button type="button" class="btn btn-default action-item" ng-click="delete()" title="delete checked emails"><span class="glyphicon glyphicon-remove"></span></button>
				<button type="button" class="btn btn-default action-item" ng-click="deleteAll()" title="delele all emails"><span class="glyphicon glyphicon-ban-circle"></span></button>
				<button type="button" class="btn btn-default action-item" data-ng-click="toggle()" title="toggle"><span class="glyphicon glyphicon-adjust"></span></button>
			</div>

			<ol class="breadcrumb navbar-right">
				<li>{{ currentPage }}</li>
				<li>{{ totalPage }}</li>
			</ol>
		</div>
	</div>
</div>

<div class="row">
	<!-- side bar -->
	<div class="col-xs-3 col-xs-2 mail-sidebar" ng-show="sidebarChecked">
		<div class="sidebar-holder"></div>
		<form class="form-horizontal settings" role="form">
			<div class="form-group">
				<label for="perpage" class="col-xs-4 control-label">Perpage</label>
				<div class="col-xs-7">
					<input type="number" class="form-control" id="perpage" min="1" max="200" ng-model="perpage">
				</div>
			</div>
			<div class="form-group">
				<label for="pages" class="col-xs-4 control-label">Pages</label>
				<div class="col-xs-7">
					<input type="number" class="form-control" name="pages" ng-model="maxpages" min="1" max="15">
				</div>
			</div>
			<!-- mode -->
			<!-- <div class="form-group">
				<label class="col-xs-4 control-label">Mode</label>
				<div class="col-xs-7">
					<label class="radio inline"><input type="radio" name="mode" ng-model="mode">DB</label>
					<label class="radio inline"><input type="radio" name="mode" ng-model="mode">JSON</label>
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-xs-7 col-xs-offset-3">
					<button type="submit" class="btn btn-default" ng-click="updateSettings()">Apply</button>
				</div>
			</div>
			<label><span class="mail-sidectrl glyphicon" ng-class="sidebarChecked ? 'glyphicon-chevron-left' : 'glyphicon-chevron-right'"></span><input type="checkbox" ng-model="sidebarChecked" class="btn-sidectrl"></label>
		</form>
	</div>

	<!-- mails -->
	<div class="mail listing">
		<ul class="list-unstyled">
			<li ng-repeat="mail in mails | filter:query | orderBy:orderProp:reverse" class="mail-item" >
				<span ng-class="mail.show ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" class="glyphicon action-btn unselectable" id="{{mail.$$hashKey}}" ng-click="toggleShow($event, $element)" scroll-if="mail.show"></span>
				<span class="glyphicon glyphicon-remove-sign action-btn unselectable" ng-click="mail.deleteMark=true; delete()"></span>
				<input type="checkbox" data-ng-model="mail.deleteMark" ng-init="mail.deltedMark=false" class="action-btn delete-marker">
				<span class="subject-detail">
					<span ng-click="toggleShow($event, $element)" class="title">{{mail.SUBJECT | formatName}}</span>
					<span class="label label-default date">{{mail.DATELASTMODIFIED | formatDate}}</span>
					<div ng-class="mail.show ? 'show' : 'hide'" class="well exceptions">
						<div ng-bind-html="mail.BODY" class="body"></div>
						<a class="collapse-btn" ng-click="mail.show=false"><span class="glyphicon glyphicon-chevron-up"></span> collapse</a>
					</div>
				</span>
			</li>
		</ul>
	</div>
</div>

<!-- pagination -->
<ul class="pager">
	<li><a class="page {{page.actived}}" ng-repeat="page in pages" ng-click="toPage(page.idx)">{{page.label || page.idx}}</a></li>
</ul>