<div class="row">
	<form class="form-horizontal" role="form">
		<div class="form-group">
	<!-- 			<span class="action-bar">
				<img src="/CFIDE/administrator/images/irefresh.gif" onclick="refresh()" alt="refresh" title="refresh" class="btn">
				<img src="/CFIDE/administrator/images/delete_button.gif" onclick="deleteList()" alt="delete" title="delete" class="btn">
				<img src="/CFIDE/administrator/images/ipurge.gif" alt="delete all" onclick="deleteAll()"	title="delete all" class="btn">
				<img src="/CFIDE/administrator/images/irestart.gif" alt="reprocess" title="reprocess" class="btn">
			</span>
	-->
		</div>
		<div class="form-group action-pane">
			<div class="col-sm-6">
				<input ng-model="query" class="form-control" id="search-box" placeholder="search keyword">
			</div>
			<div class="col-sm-6">
				<label for="sort-by" class="col-sm-8 control-label">Sort by</label>
				<div class="col-sm-4">
					<select ng-model="orderProp" class="form-control" id="sort-by">
						<option value="SUBJECT">Subject</option>
						<option value="FROM">Sender</option>
						<option value="TO">To</option>
						<option value="DATELASTMODIFIED">Newest</option>
					</select>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="row mail listing">
	<ul class="list-unstyled">
		<li class="" ng-repeat="mail in mails | filter:query " >
			<!-- <input type="checkbox" class="single-box" name="#name#"> -->
			<!-- <a href="id-{{mail.ID}}"> -->
				<span ng-class="count ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'" class="glyphicon action-btn" ng-click="count=(count + 1) % 2" ng-init="count=0"></span>
				<span class="glyphicon glyphicon-remove-sign action-btn" ng-click="delete(mail.NAME, $index)"></span>
			<!-- </a> -->
			<span class="title">{{mail.SUBJECT | formatName}}</span>
			<span class="subject-detail">
				<!-- <span class="label label-default to">To: {{mail.TO}}</span> -->
				<span class="label label-default date">{{mail.DATELASTMODIFIED | formatDate}}</span>
				<div ng-class="count ? 'show' : 'hide'" class="alert alert-info exceptions">
					<div ng-bind-html="mail.BODY" class="body"></div>
					<a class="collapse-btn" ng-click="count=0"><span class="glyphicon glyphicon-chevron-up"></span> collapse</a>
				</div>
			</span>
		</li>
	</ul>
<!-- 	<table class="table table-responsive phones">
		<thead>
			<tr class="table-header">
				<th class="subject">Subject</th>
			</tr>
		</thead>
		<tr ng-repeat="mail in mails | filter:query | orderBy:orderProp" class="mail-listing">
 	 			<td nowrap>
				<input type="checkbox" class="single-box" name="#name#">
				<img src="/CFIDE/administrator/images/delete_button.gif" onclick="deleteEmail('#urlEncodedFormat(name)#', this)" alt="delete" title="delete" class="btn">
			</td>
			<td class="subject">
				<a href="id-{{mail.ID}}">
					<span ng-class="count ? 'glyphicon-collapse-down' : 'glyphicon-expand'" class="glyphicon" ng-click="count=(count + 1) % 2" ng-init="count=0"></span>
				</a>
				<span class="title">{{mail.SUBJECT | formatName}}</span>
				<span class="subject-detail">
					<span class="label label-default to">To: {{mail.TO}}</span>
					<span class="label label-default date">{{mail.DATELASTMODIFIED | formatDate}}</span>
					<div ng-class="count ? 'show' : 'hide'" class="alert alert-info exceptions">
						<div ng-bind-html="mail.BODY"></div>
						<a class="read-less" ng-click="count=0"><span class="glyphicon glyphicon-chevron-up"></span> collapse</a>
					</div>
				</span>
			</td>
		</tr>

	</table> -->

 </div>
 <div class="row footer">
	<ul class="pagination pagination-sm">
		<li><a class="page-action" ng-click="prePage()">«</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a class="page-action" ng-click="nextPage()">»</a></li>
		<li><span>{{ currentPage }} / {{ totalPage }}</span></li>
	</ul>
 </div>